.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: #081c6c;
}
.profile-info {
  display: flex;
  flex-direction: column;
  padding: 1em;
}
img {
  border-radius: 50%;
  width: 50px;
}
.profile-name {
  color: #fff;
}
.logout {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: #fff;
  gap: 2px;
  padding: 1em;
}
.logout-button {
  background-color: red;
  height: 40px;
  width: 70px;
  cursor: pointer;
}
.navbar {
  display: flex;
  justify-content: space-evenly;
  width: 99.8%;
  height: 100px;
  border: 2px solid;
  background-color: #fff526;
}
.tab-name {
  margin-top: 35px;
  cursor: pointer;
}
.applicant-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.border {
  padding: 3em;
}
.banner-grid {
  padding: 1em;
  display: grid;
  height: 100vh;
  border: 2px solid rgb(214, 205, 205);
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 0.6fr 0.6fr 0.6fr 1.2fr 1.5fr;
  grid-template-areas:
    "nav nav nav nav"
    "department role experience deadline"
    "jobpostdate location working-hour working-days"
    "job-type number-vacancy salary job-post-date"
    "looking doing perks bonus"
    "footer footer footer footer";
  grid-gap: 2rem;
}

nav {
  grid-area: nav;
}
nav hr {
  width: 70%; /* reduce the width to 50% */
  height: 2px; /* set the height to 1.2px */
  background-color: rgb(149, 143, 231); /* set the background color to blue */
  border: none; /* remove the default border */
  float: left; /* align to the left */
}

#department {
  grid-area: department;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#role {
  grid-area: role;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.roleinput {
  border: 1px solid #ccc; /* add a border */
  padding: 10px; /* add some padding */
  font-size: 16px; /* set the font size */
  border-radius: 5px; /* round the corners */
  box-shadow: none; /* remove any box shadow */
  background-color: #fff; /* set the background color */
  color: #333; /* set the text color */
  width: 90%;
}

/* style the input when it's focused */
.roleinput:focus {
  outline: none; /* remove the default focus outline */
  border-color: #1de9b6; /* set a custom border color */
  box-shadow: 0 0 3px #1de9b6; /* add a box shadow */
}

#experience {
  display: flex;
  flex-direction: column;
  gap: 1em;
  grid-area: experience;
}
#deadline {
  display: flex;
  flex-direction: column;
  gap: 1em;
  grid-area: deadline;
}
#jobpostdate {
  display: flex;
  flex-direction: column;
  gap: 1em;
  grid-area: jobpostdate;
}
#location {
  grid-area: location;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#working-hour {
  display: flex;
  flex-direction: column;
  gap: 1em;
  grid-area: working-hour;
}

#working-days {
  display: flex;
  flex-direction: column;
  gap: 1em;
  grid-area: working-days;
}
#job-type {
  display: flex;
  flex-direction: column;
  gap: 1em;
  grid-area: job-type;
}
#number-vacancy {
  display: flex;
  flex-direction: column;
  gap: 1em;
  grid-area: number-vacancy;
}

#salary {
  display: flex;
  flex-direction: column;
  gap: 1em;
  grid-area: salary;
}

#job-post-date {
  display: flex;
  flex-direction: column;
  gap: 1em;
  grid-area: job-post-date;
}
#looking {
  display: flex;
  flex-direction: column;
  gap: 1em;
  grid-area: looking;
}
textarea {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
  box-sizing: border-box;
  margin-bottom: 20px;
}

#doing {
  display: flex;
  flex-direction: column;
  gap: 1em;
  grid-area: doing;
}

#perks {
  display: flex;
  flex-direction: column;
  gap: 1em;
  grid-area: perks;
}
#bonus {
  display: flex;
  flex-direction: column;
  gap: 1em;
  grid-area: bonus;
}
footer {
  display: flex;

  justify-content: center;
  align-items: center;
  grid-area: footer;
}
.post-btn {
  background-color: rgb(76, 76, 208);
  color: white;
  padding: 20px 40px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.post-btn:hover {
  background-color: #5555ff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 750px) {
  .banner-grid {
    height: 2500px;
    padding: 2em;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 3fr 3fr 3fr 3fr 2fr;
    grid-template-areas:
      "nav"
      "department"
      "role"
      "experience"
      "deadline"
      "jobpostdate"
      "location"
      "working-hour"
      "working-days"
      "job-type"
      "number-vacancy"
      "salary"
      "job-post-date"
      "looking"
      "doing"
      "perks"
      "bonus"
      "footer";
  }
  .border {
    padding: 1em;
  }
  .logged-in {
    display: none;
  }
  .time-year {
    display: none;
  }
  .profile-info {
    padding: 0;
  }
  .logout {
    padding: 0;
  }
}
[type="date"] {
  background: #fff
    url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)
    97% 50% no-repeat;
}
[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

label {
  display: block;
}

input {
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  background-color: #fff;
  padding: 10px;
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.1);
  width: 90%;
}
.container {
  margin: 2em auto;
  width: 90%;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th {
  background-color: #a6c842;
  color: #ffffff;
  font-weight: bold;
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #9cc204;
}

td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
}

input[type="text"]:focus {
  border: 2px solid #555;
}

.text-center {
  text-align: center;
}
.highlight-row {
  background-color: #eaf3d2;
}

hr {
  border: 0;
  height: 1px;
  background-color: #ddd;
}
.table th.vertical-line,
.table td.vertical-line {
  border-left: 1px solid #9cc204;
}
